/* Apply basic styles to the entire page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.image-container{
    display: flex;
    justify-content: center;
}
.image{
    width: 500px;
}

h1 {
    font-size: 24px;
    margin-top: 0;
    color: #333;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    display: block;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
